#wrapper {
    position: relative;
    border: 1px solid black;
    width: 1200px;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
}

#renderer {
    position: absolute;
    right: 0;
    top: 0;
}

#controls {
    background: aquamarine;
    position: absolute;
    width: 300px;
    height: 600px;
    left: 0;
    top: 0;
}

#controls button {
    width: 25%;
    float: left;
}

#controls h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 2px;
}

#sim-options {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#sim-options tr:nth-child(even) {
    background: #bcbcbc;
}

#sim-options tr:nth-child(odd) {
    background: #d9d9d9;
}

#sim-options td {
    width: 50%;
}

#sim-options td:first-child {
    text-align: right;
}

#sim-options input {
    max-width: 100%;
    box-sizing: border-box;
}

#sim-options input[type=number] {
    width: 100%;
}

#inspector {
    background: coral;
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 0;
}