:root {
    --color-gui-border: #555555;
    --color-gui-background: #dcc3a8;
    --color-gui-table-even: #bcbcbc;
    --color-gui-table-odd: #d9d9d9;
    --text-margin: 4px;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper h1 {
    text-align: center;
    margin: var(--text-margin);
}

#wrapper td {
    padding-left: 3px;
    padding-right: 3px;
}

#gui {
    border: 1px solid var(--color-gui-border);
    position: relative;
    width: 1200px;
    height: 800px;
}

#renderer {
    position: absolute;
    right: 0;
    top: 0;
}

#overlay {
    pointer-events: none;
    position: absolute;
    left: 300px;
    top: 0;
    margin: var(--text-margin);
}

#controls {
    background: var(--color-gui-background);
    position: absolute;
    width: 300px;
    height: 800px;
    left: 0;
    top: 0;
    overflow-x: hidden;
}

#controls button {
    width: 25%;
    float: left;
}

#controls h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: var(--text-margin);
}

.sim-options {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.sim-options tr:nth-child(even) {
    background: var(--color-gui-table-even);
}

.sim-options tr:nth-child(odd) {
    background: var(--color-gui-table-odd);
}

.sim-options td {
    width: 50%;
}

.sim-options td:first-child {
    text-align: right;
}

.sim-options input {
    max-width: 100%;
    box-sizing: border-box;
}

.sim-options input[type=number] {
    width: 100%;
}

#inspector {
    background: var(--color-gui-background);
    position: absolute;
    width: 900px;
    height: 250px;
    left: 300px;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.inspector-rule-table {
    border-collapse: collapse;
}

.inspector-rule-table td:first-child {
    text-align: right;
    white-space: nowrap;
}

.inspector-rule-table td:last-child {
    width: 100%;
}

.inspector-rule-table tr:nth-child(even) {
    background: var(--color-gui-table-even);
}

.inspector-rule-table tr:nth-child(odd) {
    background: var(--color-gui-table-odd);
}

.inspector-rule-table ul {
    list-style-type: none;
    padding: 0;
}

.inspector-rule-table table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 3px;
}

.inspector-rule-table table td {
    border: none;
}